 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&family=Work+Sans:wght@600;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    font-family: 'Work Sans', sans-serif;;
}
/*--navber start--*/
.nav-section{
    max-width: 1440px;
    margin: auto;
    display: flex;
}
.nav-container{
    min-height: 15px;
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-container img{
    width: 52px;
    height: 50px;
    padding: 0 20px;

}
.nav-container p{
    font-size: 36px;
}
.tool{
    color:  #FF5400;
    font-weight: 800;
}
.item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-container a{
    text-decoration: none;
    font-size: 18px;
    color: #424247;
}
.item-container .text-color a{
    color: #FF5400;
}
/*---nav end---*/
/*-----banner section---*/
.banner-section{
    border: 3px solid darkmagenta;
    width: 100%;
    height: 500px; 
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) 
    url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container::after{
    position: absolute;
   
}
.banner-container{
    width: 50%;
    height: 50px;
    color: #FFF;
}
.banner-container h1{
    font-weight: 800;
    font-size: 64px;
}
/*------bennar section----*/
/*----main section start---*/
.mountain{
    border: 3px solid teal;
    margin-top: 40px;
    padding: 20px;
}
.sun-shade h2{
     font-size: 40px;
     
}

/*------main section end---*/