 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&family=Work+Sans:wght@600;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    font-family: 'Work Sans', sans-serif;;
}
/*--navber start--*/
.nav-section{
    max-width: 1440px;
    margin: auto;
    display: flex;
}
.nav-container{
    min-height: 15px;
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-container img{
    width: 52px;
    height: 50px;
    padding: 0 20px;

}
.nav-container p{
    font-size: 36px;
}
.tool{
    color:  #FF5400;
    font-weight: 800;
}
.item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-container a{
    text-decoration: none;
    font-size: 18px;
    color: #424247;
}