 @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&family=Work+Sans:wght@600;800&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    font-family: 'Work Sans', sans-serif;;
}
/*--navber start--*/
.nav-section{
    max-width: 1440px;
    margin: auto;
    display: flex;
}
.nav-container{
    min-height: 15px;
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-container img{
    width: 52px;
    height: 50px;
    padding: 0 20px;

}
.nav-container p{
    font-size: 36px;
}
.tool{
    color:  #FF5400;
    font-weight: 800;
}
.item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-container a{
    text-decoration: none;
    font-size: 18px;
    color: #424247;
}
.item-container .text-color a{
    color: #FF5400;
}
/*---nav end---*/
/*-----banner section---*/
.banner-section{
    max-width: 1440px;
    margin:0 auto;
    min-height: 5px;
    border: 3px solid teal;
}
.banner-section img{
    margin: 0px;
    padding: 0px;
    width: 1440px;
    height: 500px;
}
.banner-section .banner-container{
    display: grid;
    justify-content: center;
    align-items: center;

}

/*------banner section----*/
/*----main section start---*/
.mountain{
    max-width: 1440px;
    margin:40px auto;
    min-height: 540px; 
    border: 2px solid teal;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-container-5{
border: 3px solid red;
width: 50%;
display: grid;
justify-content: center;
}
.img-container-5{
    border: 3px solid greenyellow;
    width: 50%;
    display: flex;
    justify-content: end;
}
/*------main section end---*/