/*
body{
    font-family: 'Merriweather', serif;
}
.main-cool{
    color: #fd6e0a;
}
.btn-primary{
    border-radius: 5px;
    color: #fd6e0a;
    border: 0px;
}
/* ami koreci
nav{
    display: flex;
    justify-content: end;
    border: 3px solid purple;
    grid-area: auto;
}
.nav-cacca{
    color:black;
    font-size: 35px;
    font-weight: 600px;
}
ul > h1{
display: flex;
border: 3px solid gold;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 46px;
   
}
nav a{
    text-decoration: none;
    color: gray;

}
*/
.{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0,auto;
}
